@import "reset";
@import "_variables";

.container {
  display: flex;
}

.header {
  width: 32%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .title {
    font-size: 56px;
    padding: 120px 70px;
    span {
      display: block;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 22px;
    }
  }
}

@media (max-width: $breakpoint) {
  .container {
    flex-direction: column;
  }
  .header {
    width: 100%;
    height: 710px;
  }
}

@media (min-width: $breakpoint) and (max-width: $breakpoint2) {
  .header {
    .title {
      font-size: 32px;
    }
  }
}
