<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/css/01-best-horror-scenes/styles.css" />
    <title>SCSS Master class</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title">
          <span>BEST</span>
          <span>HORROR</span>
          <span>SCENES</span>
        </div>
        <div class="description">
          <div class="description--title">
            An ever growing collection featuring some of the best scenes in
            horror.
          </div>
          <div class="description--detail">
            “Best Horror Scenes” is a collection of scenes I feel are some of
            the most affecting in horror. Some may be simple black cat scares,
            others may be more subdued or nuanced. Many come from films that
            aren't necessarily “horror” but have elements or threads of horror,
            and all have the same general effect: unease, dread, fear, shock,
            disgust.
          </div>
          <nav class="description--link">
            <a>Watch on YouTube</a>
            <a>Suggest a Scene</a>
            <a>Get Episode Notices</a>
            <a>Contact</a>
            <a>RSS</a>
            <a>@besthorrorscene</a>
          </nav>
        </div>
      </div>
      <main>
        <div class="contents">
          <div class="content">
            <div class="content__item">
              <div class="content__detail">
                <h3>56. THE VANISHING (1988)</h3>
                <span> Directed by George Sluizer</span>
              </div>
              <img
                src="https://images.unsplash.com/photo-1501820488136-72669149e0d4"
                alt="Paul-Hanaoka"
              />
            </div>
          </div>
          <div class="content">
            <div class="content__item">
              <div class="content__detail">
                <h3>56. THE VANISHING (1988)</h3>
                <span> Directed by George Sluizer</span>
              </div>
              <img
                src="https://images.unsplash.com/photo-1501820488136-72669149e0d4"
                alt="Paul-Hanaoka"
              />
            </div>
          </div>
          <div class="content">
            <div class="content__item">
              <div class="content__detail">
                <h3>56. THE VANISHING (1988)</h3>
                <span> Directed by George Sluizer</span>
              </div>
              <img
                src="https://images.unsplash.com/photo-1501820488136-72669149e0d4"
                alt="Paul-Hanaoka"
              />
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
