@import "reset";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}
header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  font-size: 1.4em;

  & > * {
    display: flex;
    justify-content: space-between;
  }
  .header {
    padding: 10px;
    & > * {
      cursor: pointer;
    }
    #logo {
      color: black;
    }
    &-left {
      color: #d8dadb;
      &:hover {
        background-color: cornflowerblue;
      }
    }
    &-right {
      #lang {
        font-size: 0.6em;
        padding-top: 0.6em;
      }
      &:hover {
        background-color: pink;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .item {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 7px;
    cursor: pointer;
    img {
      width: 100%;
    }
    .title {
      padding: 0px 15px;
      font-size: 0.9em;
    }
  }
}

@media (max-width: 550px) {
  header {
    ul {
      li:not(:first-child) {
        display: none;
      }
    }
  }
}
