@import "reset";
@import "_variables";
@import "nav";
@import "button";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Newsreader:wght@200;300;400&display=swap");

// body {
// background-color: #f0f0f0;
// }

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  .box {
    img {
      width: 100%;
      height: 100%;
    }
    &--right {
      padding: 18%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-family: $iconFont;
    text-transform: uppercase;
    font-size: $iconFontSize;
    margin-bottom: 25px;
  }
  &__desc {
    text-align: center;
    font-size: $fontSize-L;
    color: $fontColor;
    font-family: "Newsreader", serif;
    font-weight: 300;
    word-spacing: 1.2;
    margin-bottom: 20px;
    max-width: 440px;
    line-height: 1.2;
  }
}

#boxes-first {
  background-color: #f8dbbd;
}
#boxes-second {
  background-color: #f3ede7;
}

.boxes-sm {
  width: 90%;
  margin: 100px 0px;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  // width: 100%;
  display: flex;
  align-items: center;
  .item {
    max-width: 380px;
    &--img {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  .item:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 1022px) {
  nav {
    padding: 20px 40px;
    .nav__content {
      display: none;
    }
    .nav__mini {
      display: block;
    }
  }
  .boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    .box--right {
      height: 30%;
    }
  }
  .boxes-sm {
    width: 100%;
    margin: 50px 0px;
  }
  .content-title {
    &__desc {
      font-size: $fontSize-S;
    }
  }
}

@media (max-width: 550px) {
  .items {
    flex-direction: column;
    .item:not(:last-child) {
      margin-right: 0;
    }
  }
}
