@import "reset";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Newsreader:wght@200;300;400&display=swap");

body {
  background-color: #f0f0f0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 50px 40px;
  & > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > li {
      list-style: none;
      font-size: $iconFontSize;
      letter-spacing: $letterSpacing;
    }
  }
  .nav-mini:first-child {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.boxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  .box {
    img {
      width: 100%;
      height: 100%;
    }
    &--right {
      padding: 18%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f8dbbd;
      .box--content-desc {
        text-align: center;
        font-size: $fontSize-L;
        color: $fontColor;
        font-family: "Newsreader", serif;
        font-weight: 300;
        word-spacing: 1.2;
        margin-bottom: 20px;
        max-width: 440px;
        line-height: 1.2;
      }
      .button {
        font-size: $iconFontSize;
        display: flex;
        align-items: center;
        height: 38px;
        border: 1px solid $fontColor;
        font-family: $iconFont;
        text-transform: uppercase;
        span {
          margin: 0px 60px;
          letter-spacing: $letterSpacing;
          text-align: 25px;
          margin-left: 25px;
        }
        .arrow {
          width: 30px;
          height: 100%;
          border-left: 1px solid $fontColor;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 1022px) {
  nav {
    padding: 20px 40px;
    .nav__content {
      display: none;
    }
    .nav__mini {
      display: block;
    }
  }
  .boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    .box {
      .box--content-desc {
        font-size: $fontSize-S;
      }
    }
  }
}
